# Secrets / Environment
.env
.env.local
.env.production
.env*.local

# Node
node_modules/
app/node_modules/
app/.eslintcache
app/dist/
app/.vite/
# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Build outputs
app/build/
app/.parcel-cache/
app/.turbo/
app/.next/

# IDE
.vscode/
.idea/
*.code-workspace
.next/
